/* Menu CSS Template */

#menuWrapper {
    width: 70%;
    height: 65vh;
    border: solid 5px #9B9B9B;
    display: flex;
    flex-direction: column;
}

.commonBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#topBox {
    flex-basis: 25%;
    flex-direction: row;
}

#middleBox {
    flex-basis: 50%;
    border-top: solid 5px #9b9b9b;
    border-bottom: solid 5px #9b9b9b;
}

#bottomBox {
    flex-basis: 25%;
}

.menuLinkWrapper {
    box-sizing: border-box;
    padding: 3% 9% 3% 9%;
    text-align: center;
    color: white;
    background-color: #9b9b9b;
    box-shadow: 10px 10px 42px 0 rgba(255, 255, 255, 0.35);
    position: relative;
    cursor: pointer;
}

.menuLinkLabel {
    margin: 0;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
}

.topInnerMenuLinks {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#middleLiner {
    border-left: solid 5px #9b9b9b;
}

.menuLinkWrapper:hover:after, .menuLinkWrapper:hover:before {
    mix-blend-mode: multiply;
    filter: none;
    z-index: -1;
    content: '';
    width: calc(90% + (20% * 2));
    height: calc(90% + (20% * 2));
    position: absolute;
    display: block;
    animation: border 7s ease-in-out infinite;
    transform: translateX(-50px) translateY(-50px);
}

@keyframes border {
    0%, 100% {
        -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
        clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
        -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
        clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
}

.menuLinkWrapper:hover:after {
    animation-delay: -5s;
    background-color: #5f86f2;
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}

.menuLinkWrapper:hover:before {
    background-color: #5ff2f0;
    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}
