@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap');

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #000;
}

.noDecorations{
  text-decoration: none;
}

.centerText{
  text-align: center;
}

:root {
  --port-darkNavyBlue: #0b202b;
}


@keyframes border-change {
  0% {
    border-color: #355C7D;
  }
  50% {
    border-color: #6C5B7B;
  }
  100% {
    border-color: #C06C84;
  }
}


.fadeIn {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}